/* General Website Style rules */
.block1 { 
    width: 90rem;
    height: 9.125rem;
    flex-shrink: 0; 
    background: #FFF; 
   }
 .header {
    padding: 40px;
    text-align:left;
    background: #FFF;
    margin:30px;
    font-size:20px;
  } 
 .aside {
    font-family: "Avenir", "Playfair Display";
    background: #FFF;
    /*Top header profile image*/
    .profile-small {
        height:80px;
    } 
 a.button{ 
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    font-family: "Avenir";
    padding: 12px 16px;
    border-radius: 100px;
    color: #C08D5D;
    }
}
.block2 { 
    width: 82.5rem;
    height: 39.625rem;
    flex-shrink: 0; 
    background: #FFFAF3; 
}
.block3 {
    width: 41.25rem;
    height: 54.875rem;
    flex-shrink: 0; 
    background: img src="images/farmhouse1.jpg" alt="images/farmhouse1.jpg"; 
    padding: 5px;  
    float: right; 
    position: relative; 
    top: 40px; 
    left: -70px; 
}