/* General Website Style rules */

section {
    display: block;
    padding: 0 20px;
    margin: 0 auto;
  }
  
  .container {
    display: block;
    max-width: 1440px;
    padding: 0 60px;
    margin: 0 auto;
  }
  
  .container.-hero {
    --text-color: #3F4042;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    background-color: #FFFAF3;
    padding: 30px 0px;
    z-index: 1;
  }
  
  ul {
    text-align: center;
    display: flex;
    list-style-type: none;
    gap: 3%;
  }
  
  ul li {
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: Avenir;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
    flex: auto;
  }
  
  ul li.active {
    color: #C08D5D;
    font-weight: 800;
  }
  
  .cell11 {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .cell11 h1 {
    color: var(--text-color);
    font-family: Playfair Display;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 3px;
    margin: 0;
    padding-left: 80px;
  }

  .cell12 {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  
  .cell12 h2 {
    color: var(--text-color);
    font-family: Playfair Display;
    font-size:3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 93px;
    letter-spacing: 4.2px;
    margin: 0;
    padding-left: 80px;
  }
  
  .cell12 p.-separator {
    margin-top: 0;
    padding-left: 80px;
  }
  
  .cell14 {
    grid-column-start: 1;
    grid-row-start: 3;
    padding-left: 80px;
  }

  .cell14 p {
    color: var(--text-color);
    font-family: Avenir;
    font: size 1rem;
    font-style: normal;
    font-weight: 350;
    line-height: 26.568px;
    letter-spacing: 1.08px;
    margin: 0;
  }
  
  .cell15 {
    grid-column-start: 1;
    grid-row-start: 4;
  }

  .cell15 p.-actions {
    padding-left: 80px;
  }
  
  .cell15 .button {
    border: 2px solid #C08D5D;
    padding: 17px 15px;
    color: #3F4042;
  }
  
  .cell21 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  
  .cell21 img {
    width: 100%;
    margin-top: 0;
  }

  .footer {
    height: 4rem;
    position:relative;
    left:7,25rem;
    width: 75.5rem;
    background: rgba(192, 141, 93, 0.20);
    filter: blur(50px);
    z-index: 0;
 }